h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: 0 0 $spacing;
}

h1, .h1 {
  @include font-size(3.875);
  line-height: 3rem;
}
h2, .h2 {
  @include font-size(3.125);
  line-height: 3rem;
}
h3, .h3 {
  @include font-size(2.5);
  line-height: 1.5rem;
}
h4, .h4 {
  @include font-size(2);
  line-height: 1.5rem;
}
h5, .h5 {
  @include font-size(1.625);
  line-height: 1.5rem;
}
h6, .h6 {
  @include font-size(1.25);
  line-height: 1.5rem;
}

small, .text_small {font-size: 0.8rem;}
