.custom-logo {
    width: auto;
    height: 10rem;
    vertical-align: bottom;
}

.site-branding {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.site-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    margin: 0 0 1.5rem;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.site-description {
    color: $scout-teal;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 1.5rem;
}

@media screen and (min-width: 800px) {
    .site-branding {
        flex-direction: row;
        align-items: center;
        text-align: left;

        &__text {
            margin-left: auto;
            text-align: right;
        }

    }

    .site-description {
        margin: 0;
    }

}
