.site-header {
    // margin-bottom: $spacing;
}
.custom-logo {
    width: auto;
    height: 10rem;
    vertical-align: bottom;
}

.site-branding {
    padding: $spacing 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.site-title {
    color: $scout-purple;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 $spacing;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.site-description {
    color: $scout-teal;
    font-size: $spacing;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

@media screen and (min-width: 800px) {
    .site-branding {
        flex-direction: row;
        align-items: center;
        text-align: left;

        &__text {
            text-align: left;

            .custom-logo-link + & {
                margin-left: $spacing;
            }
        }

    }

    .site-description {
        margin: 0;
    }

}
